/* body {
  background: #333;
  color: #fff; } */

.navbar {
  opacity: 0.8; 
  background: black;
  }

.nav-link {
  font-size: 14px;
  text-transform: uppercase;
  padding-left: 1em !important;
  padding-right: 1em !important;
}

/* Main Carousel */
.maincarousel {
  height: 450px;
}

.carousel-image-1 {
  background:url(../img/ttbcarousel.jpg); 
  background-size: cover;
}

.carousel-image-2 {
  background:url(../img/hcecarousel-lg.jpg);
  background-size: cover;
}

.carousel-image-3 {
  background: url(../img/contestcarousel.jpg);
  background-size: cover;
  background-attachment: fixed;
}

/* RecoCarousel */

.recocarousel-item {
  height: 200px;
}

.recocarousel-image-1 {
  background:url(../img/to\ the\ bone.jpg); 
  background-size: cover;
}

.recocarousel-image-2 {
  background:url(../img/hce2.jpg); 
  background-size: cover;
}

.recocarousel-image-3 {
  background:url(../img/blackfield.jpg); 
  background-size: cover;
}

.recocarousel-image-4 {
  background:black; 
  background-size: cover;
}

#signup {
  background: url(../img/absentia.jpg);
  background-size: cover;
}

#home-icons {
  background: url(../img/milkyway.jpg);
  background-size: cover;
  position: static;
}

#social h1 a {
  text-decoration: none;
  color: white;
}
#social h1 a:Hover {
  text-decoration: none;
  color: rgb(14, 6, 19);
}

/* Video section */

#video-play {
  position: static;
  height: 250px;
  background: url(../img/links.jpg) no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: 0 0px;
  text-align: center;
  color: white;

}

#videoplay a {
  color: white;
}

/* Gallery */

#gallery {
  background: url(../img/gallerybg.jpg);
  position: static;
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
  color: white;
} 

#gallery img {
  width: 100%;
  height: 180px;
}

/* Newsletter */

#newletter {
  background:url(../img/news.jpg);
  height: 200px;;
  position: static;
  background-size: cover;
  background-attachment: fixed;
  color: white;
  background-position: 0 250px;
}

#mainfooter {
  max-height: 100px;
  background: black;
}

#mainfooter img {
  width: 50px;
  height: 50px;
}